@import "reset";
@import "./variables/globals";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/custom";

.app,
.app_modal {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: linear-gradient(180deg, #c4e0ff 30%, rgb(2 31 87 / 0%) 100%);
    min-height: 100vh;
}

.page {
    width: 100%;
    padding: 0 110px;
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    background-color: var(--bg-color);
}
