@import "~bootstrap/scss/bootstrap";

.modal-content {
    .modal-body {
        border: blue;
        background-color: var(--bg-color);
    }

    .modal-header {
        color: var(--inverted-primary-color);
        background-color: var(--inverted-bg-color);

        .close {
            color: blueviolet;

            &:hover {
                color: darkorchid;
            }
        }
    }

    .modal-footer {
        color: orangered;
        background-color: green;
    }
}

.offcanvas-header {
    color: var(--primary-color);
    background: var(--bg-color);
}

.offcanvas-body,
.form-control {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}

$input-bg: var(--bg-color);
$input-focus-bg: var(--bg-color);
