@import "~bootstrap/scss/bootstrap";

.modal-content {
    .modal-body {
        border: blue;
        background-color: var(--bg-color);
    }

    .modal-header {
        color: var(--inverted-primary-color);
        background-color: var(--inverted-bg-color);

        .close {
            color: blueviolet;

            &:hover {
                color: darkorchid;
            }
        }
    }

    .modal-footer {
        color: orangered;
        background-color: green;
    }
}

.offcanvas {
    padding: 30px 10px 10px;
}

.btn-clear {
    margin: 0;
    padding: 0;
    border: none;
    transition: 200ms;
    outline: none;

    &:hover {
        transform: scale(1.05);
    }
}

$input-bg: var(--bg-color);
$input-focus-bg: var(--bg-color);
