.app_dark_theme {
    --bg-color: #0e0e75;
    --inverted-bg-color: #a9c5ea;

    // текст
    --primary-color: #04ff04;
    --inverted-primary-color: #002b9f;

    // вторичный цвет
    --secondary-color: #04b704;
    --inverted-secondary-color: #0449e0;

    // skeleton
    --skeleton-shadow: #3f3fd2;
    --skeleton-color: #a9c5ea;

    // card
    --card-bg: #1414a4;
    --listox-bg: #1414a4;
}
