:root {
    --bg-color: #a9c5ea;
    --inverted-bg-color: #023886;

    // текст
    --primary-color: #111;
    --inverted-primary-color: #c5befa;

    // вторичный цвет
    --secondary-color: #777;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;
    --listox-bg: #8ca3c2;
}
