.ContentWrapper {
    padding: 20px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 100px 80px rgb(0 0 0 / 7%), 0 41.7776px 33.4221px rgb(0 0 0 / 5.03%), 0 22.3363px 17.869px rgb(0 0 0 / 4.17%), 0 12.5216px 10.0172px rgb(0 0 0 / 3.5%), 0 6.6501px 5.32008px rgb(0 0 0 / 2.83%), 0 2.76726px 2.21381px rgb(0 0 0 / 1.97%);
}
